# Pandas 的数值运算

In [2]:
%qtconsole

In [3]:
import pandas as pd
import numpy as np

## 1. 算术运算原则  

算术运算根据行列索引，补齐后运算，运算默认产生浮点数；  
补齐时缺失位置填充 NaN（空值）；  
二维和一维、一维和零维（标量值）之间的运算为广播运算；  
采用 +、-、*、// 会产生新的对象；

Python运算符及对应的 Pandas 对象的方法

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

In [4]:
a = pd.DataFrame(np.arange(12).reshape(3,4))
b = pd.DataFrame(np.arange(20).reshape(4,5))
a + b

      0     1     2     3   4
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [5]:
a

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [6]:
b

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [35]:
a.add(b,fill_value=100) # a 和 b 之间元素缺少的地方填充100再进行加法运算

       0      1      2      3      4
0    0.0    2.0    4.0    6.0  104.0
1    9.0   11.0   13.0   15.0  109.0
2   18.0   20.0   22.0   24.0  114.0
3  115.0  116.0  117.0  118.0  119.0

## 2*. 比较运算  

比较运算只能比较相同索引的元素，不进行补齐；  
二维和一维、一维和零维之间是广播运算；  
比较的结果产生一个bool对象；

In [11]:
a = pd.DataFrame(np.arange(12).reshape(3,4))
b = pd.DataFrame(np.arange(12).reshape(3,4))
a

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [52]:
a > b

       0      1      2      3
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False

In [12]:
b

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [20]:
c = pd.Series(np.arange(5, 12))
c

0     5
1     6
2     7
3     8
4     9
5    10
6    11
dtype: int32

In [21]:
c > a

C:\Users\Admin\AppData\Local\Temp\ipykernel_8304\3375517083.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  c > a

       0      1      2      3      4      5      6
0   True   True   True   True  False  False  False
1   True   True   True   True  False  False  False
2  False  False  False  False  False  False  False

In [58]:
c > 0

0     False
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
dtype: bool