# üîñ‰∫å„ÄÅPandasÊï∞ÊçÆÊ°ÜÊìç‰ΩúÂèäÊï∞ÊçÆÊèêÂèñ

In [27]:
#ÂØºÂåÖ
import pandas as pd
import numpy as np

# 1. Êï∞ÊçÆÊ°ÜË°åÂàóÊìç‰Ωú

## 1.1 ÂàõÂª∫DataFrame

In [28]:
data = {"col1":['Python', 'C', 'Java', 'R', 'SQL', 'PHP', 'Python', 'Java', 'C', 'Python'],
       "col2":[6, 2, 6, 4, 2, 5, 8, 10, 3, 4], 
       "col3":[4, 2, 6, 2, 1, 2, 2, 3, 3, 6]}
df = pd.DataFrame(data)
df

     col1  col2  col3
0  Python     6     4
1       C     2     2
2    Java     6     6
3       R     4     2
4     SQL     2     1
5     PHP     5     2
6  Python     8     2
7    Java    10     3
8       C     3     3
9  Python     4     6

##  1.2 ËÆæÁΩÆÁ¥¢Âºï

In [29]:
df['new_index'] = range(1,11)
df.set_index('new_index')

             col1  col2  col3
new_index
1          Python     6     4
2               C     2     2
3            Java     6     6
4               R     4     2
5             SQL     2     1
6             PHP     5     2
7          Python     8     2
8            Java    10     3
9               C     3     3
10         Python     4     6

## 1.3 ÈáçÁΩÆÁ¥¢Âºï(Ë°åÂè∑)

In [30]:
df.reset_index(drop = True, inplace = True) # drop = TrueÔºöÂéüÊúâÁ¥¢ÂºïÂ∞±‰∏ç‰ºöÊàê‰∏∫Êñ∞ÁöÑÂàó
df

     col1  col2  col3  new_index
0  Python     6     4          1
1       C     2     2          2
2    Java     6     6          3
3       R     4     2          4
4     SQL     2     1          5
5     PHP     5     2          6
6  Python     8     2          7
7    Java    10     3          8
8       C     3     3          9
9  Python     4     6         10

## 1.4 Êõ¥ÊîπÂàóÂêç

In [31]:
#ÊñπÊ≥ï‰∏ÄÔºöÁõ¥Êé•Ê≥ï
df.columns = ['grammar', 'score', 'cycle', 'id']
 
#ÊñπÊ≥ï‰∫åÔºö(‰ΩøÁî®rename()ÂáΩÊï∞Ôºö‰øÆÊîπÊåáÂÆö‰øÆÊîπÊüêÂàóÊàñÊüêÂá†ÂàóÂêçÂ≠ó)
df.rename(columns={'col1':'grammar', 'col2':'score', 'col3':'cycle','new_index':'id'}, inplace=True)

In [32]:
df.head()

  grammar  score  cycle  id
0  Python      6      4   1
1       C      2      2   2
2    Java      6      6   3
3       R      4      2   4
4     SQL      2      1   5

## 1.5 Ë∞ÉÊï¥ÂàóÈ°∫Â∫è

### (1) Â∞ÜÊâÄÊúâÂàóÂÄíÂ∫èÊéíÂàó

In [33]:
#ÊñπÊ≥ï‰∏ÄÔºö
df.iloc[:, ::-1]
 
#ÊñπÊ≥ï‰∫å
df.iloc[:, [-1,-2,-3,-4]]

   id  cycle  score grammar
0   1      4      6  Python
1   2      2      2       C
2   3      6      6    Java
3   4      2      4       R
4   5      1      2     SQL
5   6      2      5     PHP
6   7      2      8  Python
7   8      3     10    Java
8   9      3      3       C
9  10      6      4  Python

### (2) ‰∫§Êç¢‰∏§Âàó‰ΩçÁΩÆ

In [34]:
temp = df['grammar']
df.drop(labels=['grammar'], axis=1, inplace=True)
df.insert(1, 'grammar', temp)
df

   score grammar  cycle  id
0      6  Python      4   1
1      2       C      2   2
2      6    Java      6   3
3      4       R      2   4
4      2     SQL      1   5
5      5     PHP      2   6
6      8  Python      2   7
7     10    Java      3   8
8      3       C      3   9
9      4  Python      6  10

### (3) Êõ¥ÊîπÂÖ®ÈÉ®ÂàóÈ°∫Â∫è

In [35]:
order = df.columns[[0, 3, 1, 2]] # ÊàñËÄÖorder = ['xx', 'xx',...] ÂÖ∑‰ΩìÂàóÂêç
df = df[order]
df

   score  id grammar  cycle
0      6   1  Python      4
1      2   2       C      2
2      6   3    Java      6
3      4   4       R      2
4      2   5     SQL      1
5      5   6     PHP      2
6      8   7  Python      2
7     10   8    Java      3
8      3   9       C      3
9      4  10  Python      6

## 1.6 Âà†Èô§Ë°åÂàó

### (1) Âà†Èô§idËøô‰∏ÄÂàó

In [36]:
# Ê≥ï‰∏ÄÔºö
del df['id']
# Ê≥ï‰∫åÔºö
df['id'] = range(1,11)
df.drop('id',axis=1, inplace=True) #columns=['xxx']

### (2) Ê∑ªÂä†‰∏ÄË°ågrammar='css'Êï∞ÊçÆÔºåÂπ∂Âà†Èô§ËØ•Ë°å

In [37]:
df.loc[len(df)] = [2, 'css', 3]
df

    score grammar  cycle
0       6  Python      4
1       2       C      2
2       6    Java      6
3       4       R      2
4       2     SQL      1
5       5     PHP      2
6       8  Python      2
7      10    Java      3
8       3       C      3
9       4  Python      6
10      2     css      3

In [38]:
df.iloc[2,1]

'Java'

In [39]:
index = df[df['grammar'] == 'css'].index[0]
df.drop(labels=[index], inplace=True)
df

   score grammar  cycle
0      6  Python      4
1      2       C      2
2      6    Java      6
3      4       R      2
4      2     SQL      1
5      5     PHP      2
6      8  Python      2
7     10    Java      3
8      3       C      3
9      4  Python      6

## 1.7 Â∞ÜgrammarÂàóÂíåscoreÂàóÂêàÂπ∂ÊàêÊñ∞ÁöÑ‰∏ÄÂàó

In [44]:
df['new_col'] = df['grammar'] + df['score'].map(str) # score‰∏∫intÁ±ªÂûãÔºåÈúÄËΩ¨Êç¢‰∏∫Â≠óÁ¨¶‰∏≤Á±ªÂûãÔºõ
df

   score grammar  cycle  new_col
0      6  Python      4  Python6
1      2       C      2       C2
2      6    Java      6    Java6
3      4       R      2       R4
4      2     SQL      1     SQL2
5      5     PHP      2     PHP5
6      8  Python      2  Python8
7     10    Java      3   Java10
8      3       C      3       C3
9      4  Python      6  Python4

## 1.8 Â∞ÜÊï∞ÊçÆÊåâË°åÁöÑÊñπÂºèÈÄÜÂ∫èËæìÂá∫

In [48]:
df.iloc[::-1, :]
# [::-1]Ë°®Á§∫Ê≠•Èïø‰∏∫-1, ‰ªéÂêéÂæÄÂâçÂÄíÂ∫èËæìÂá∫

   score grammar  cycle  new_col
9      4  Python      6  Python4
8      3       C      3       C3
7     10    Java      3   Java10
6      8  Python      2  Python8
5      5     PHP      2     PHP5
4      2     SQL      1     SQL2
3      4       R      2       R4
2      6    Java      6    Java6
1      2       C      2       C2
0      6  Python      4  Python6

# 2. Êï∞ÊçÆËØªÂèñ‰∏é‰øùÂ≠ò

## 2.1 ËØªÂèñexcelÊñá‰ª∂

In [42]:
excel = pd.read_excel('/home/mw/input/pandas1206855/pandas120.xlsx')
excel.head()

FileNotFoundError: [Errno 2] No such file or directory: '/home/mw/input/pandas1206855/pandas120.xlsx'

## 2.2 ËØªÂèñcsvÊñá‰ª∂

In [10]:
csv = pd.read_csv('/home/mw/input/pandas_exercise/pandas_exercise/exercise_data/drinks.csv')
csv.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

## 2.3 ËØªÂèñtsvÊñá‰ª∂

In [11]:
tsv = pd.read_csv('/home/mw/input/pandas_exercise/pandas_exercise/exercise_data/chipotle.tsv', sep = '\t')
tsv.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

## 2.4 dataframe‰øùÂ≠ò‰∏∫csvÊñá‰ª∂

In [18]:
df.to_csv('course.csv')

## 2.5 ËØªÂèñÊó∂ËÆæÁΩÆÊòæÁ§∫Ë°åÂàóÁöÑÂèÇÊï∞Ôºöpd.set_option()

### (1) ÊòæÁ§∫ÊâÄÊúâÂàó

In [49]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_columns', 5) #ÊúÄÂ§öÊòæÁ§∫5Âàó

### (2) ÊòæÁ§∫ÊâÄÊúâË°å

In [20]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_rows', 10)#ÊúÄÂ§öÊòæÁ§∫10Ë°å

### (3) ÊòæÁ§∫Â∞èÊï∞‰ΩçÊï∞

In [21]:
pd.set_option('display.float_format',lambda x: '%.2f'%x) #‰∏§‰Ωç

### (4) ÊòæÁ§∫ÂÆΩÂ∫¶

In [22]:
pd.set_option('display.width', 100)

### (5) ËÆæÁΩÆÂ∞èÊï∞ÁÇπÂêéÁöÑ‰ΩçÊï∞

In [23]:
pd.set_option('precision', 1)

### (6) ÊòØÂê¶Êç¢Ë°åÊòæÁ§∫

In [24]:
pd.set_option('expand_frame_repr', False)
# TrueÂ∞±ÊòØÂèØ‰ª•Êç¢Ë°åÊòæÁ§∫„ÄÇËÆæÁΩÆÊàêFalseÁöÑÊó∂ÂÄô‰∏çÂÖÅËÆ∏Êç¢Ë°å

# 3.  ÊèêÂèñÊåáÂÆöË°åÂàóÁöÑÊï∞ÊçÆ

In [31]:
# ËØªÂèñpandas120Êï∞ÊçÆÊñá‰ª∂
df = pd.read_excel('/home/mw/input/pandas1206855/pandas120.xlsx')
df.head()

           createTime education   salary
0 2020-03-16 11:30:18        Êú¨Áßë  20k-35k
1 2020-03-16 10:58:48        Êú¨Áßë  20k-40k
2 2020-03-16 10:46:39        ‰∏çÈôê  20k-35k
3 2020-03-16 10:45:44        Êú¨Áßë  13k-20k
4 2020-03-16 10:20:41        Êú¨Áßë  10k-20k

## 3.1 ÊèêÂèñÁ¨¨32Ë°åÊï∞ÊçÆ

In [32]:
# ÊñπÊ≥ï‰∏ÄÔºö
df.loc[32]
# ÊñπÊ≥ï‰∫åÔºö
df.iloc[32,:] # df.iloc[32] ‰πüÂèØ

createTime    2020-03-16 10:07:25
education                      Á°ïÂ£´
salary                    15k-30k
Name: 32, dtype: object

## 3.2 ÊèêÂèñeducationËøô‰∏ÄÂàóÊï∞ÊçÆ

In [33]:
df['education']

0      Êú¨Áßë
1      Êú¨Áßë
2      ‰∏çÈôê
3      Êú¨Áßë
4      Êú¨Áßë
       ..
130    Êú¨Áßë
131    Á°ïÂ£´
132    Êú¨Áßë
133    Êú¨Áßë
134    Êú¨Áßë
Name: education, Length: 135, dtype: object

## 3.3 ÊèêÂèñÂêé‰∏§Âàó(education, salary)Êï∞ÊçÆ

In [34]:
# ÊñπÊ≥ï‰∏ÄÔºö
df[['education', 'salary']]
# ÊñπÊ≥ï‰∫åÔºö
df.iloc[:, 1:]

    education   salary
0          Êú¨Áßë  20k-35k
1          Êú¨Áßë  20k-40k
2          ‰∏çÈôê  20k-35k
3          Êú¨Áßë  13k-20k
4          Êú¨Áßë  10k-20k
..        ...      ...
130        Êú¨Áßë  10k-18k
131        Á°ïÂ£´  25k-50k
132        Êú¨Áßë  20k-40k
133        Êú¨Áßë  15k-23k
134        Êú¨Áßë  20k-40k

[135 rows x 2 columns]

## 3.4 ÊèêÂèñÁ¨¨‰∏ÄÂàó‰ΩçÁΩÆÂú®1,10,15‰∏äÁöÑÂÄº

In [35]:
# ÊñπÊ≥ï‰∏ÄÔºö
df.iloc[[1,10,15], 0]
# ÊñπÊ≥ï‰∫åÔºö
df['createTime'][[1,10,15]]
# ÊñπÊ≥ï‰∏âÔºö
df['createTime'].take([1,10,15])

1    2020-03-16 10:58:48
10   2020-03-16 10:34:19
15   2020-03-16 10:52:14
Name: createTime, dtype: datetime64[ns]

# 4. ÊèêÂèñÈáçÂ§çÂÄºÊâÄÂú®ÁöÑË°åÂàóÊï∞ÊçÆ

## 4.1 Âà§Êñ≠createTimeÂàóÊï∞ÊçÆÊòØÂê¶ÈáçÂ§ç

In [36]:
df.createTime.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
130    False
131    False
132    False
133     True
134     True
Name: createTime, Length: 135, dtype: bool

## 4.2 Âà§Êñ≠Êï∞ÊçÆÊ°Ü‰∏≠ÊâÄÊúâË°åÊòØÂê¶Â≠òÂú®ÈáçÂ§ç

In [37]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
130    False
131    False
132    False
133    False
134     True
Length: 135, dtype: bool

## 4.3 Âà§Êñ≠educationÂàóÂíåsalaryÂàóÊï∞ÊçÆÊòØÂê¶ÈáçÂ§ç(Â§öÂàóÁªÑÂêàÊü•ËØ¢)

In [38]:
df.duplicated(subset = ['education','salary'])

0      False
1      False
2      False
3      False
4      False
       ...
130     True
131    False
132     True
133    False
134     True
Length: 135, dtype: bool

## 4.4 Âà§Êñ≠ÈáçÂ§çÁ¥¢ÂºïÊâÄÂú®Ë°åÂàóÊï∞ÊçÆ

In [39]:
df.index.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

# 5. ÊåâÊåáÂÆöÊù°‰ª∂ÊèêÂèñÂÖÉÁ¥†ÂÄº

ËøôÈáå‰∏∫‰∫ÜËøêË°åÂêéÁª≠‰ª£Á†ÅÔºåÈÄöËøárandomÂáΩÊï∞ÈöèÊú∫Ê∑ªÂä†‰∏ÄÂàóÊï∞ÊçÆÔºõ

In [40]:
import random
df['value'] = [random.randint(1,100) for i in range(len(df))]
df.head()

           createTime education   salary  value
0 2020-03-16 11:30:18        Êú¨Áßë  20k-35k      2
1 2020-03-16 10:58:48        Êú¨Áßë  20k-40k     86
2 2020-03-16 10:46:39        ‰∏çÈôê  20k-35k     19
3 2020-03-16 10:45:44        Êú¨Áßë  13k-20k     85
4 2020-03-16 10:20:41        Êú¨Áßë  10k-20k     58

## 5.1 ÊèêÂèñvalueÂàóÂÖÉÁ¥†ÂÄºÂ§ß‰∫é90ÁöÑË°å

In [41]:
df[df['value'] > 90]

             createTime education   salary  value
8   2020-03-16 09:25:48        ‰∏çÈôê    6k-8k    100
11  2020-03-16 09:30:40        Êú¨Áßë   8k-12k     94
15  2020-03-16 10:52:14        Á°ïÂ£´  10k-15k     96
38  2020-03-16 11:01:58        ‰∏çÈôê  25k-35k    100
51  2020-03-16 11:32:46        Êú¨Áßë  10k-20k     97
..                  ...       ...      ...    ...
59  2020-03-16 10:46:50        Êú¨Áßë  15k-30k     94
79  2020-03-16 11:30:10        Êú¨Áßë  25k-40k     96
102 2020-03-16 10:21:52        Â§ß‰∏ì  10k-20k     91
103 2020-03-16 11:21:24        Êú¨Áßë  12k-20k     94
121 2020-03-16 11:33:13        Êú¨Áßë    4k-6k     93

[12 rows x 4 columns]

## 5.2 ÊèêÂèñvalueÂàóÂÖÉÁ¥†ÂÄºÂ§ß‰∫é60Â∞è‰∫é70ÁöÑË°å

In [42]:
df[(df['value'] > 60) & (df['value'] < 70)]

             createTime education   salary  value
5   2020-03-16 10:33:48        Êú¨Áßë  10k-18k     67
6   2020-03-16 10:11:54        Á°ïÂ£´  16k-30k     66
22  2020-03-16 11:30:15        Êú¨Áßë  15k-25k     62
43  2020-03-16 11:16:49        Êú¨Áßë  20k-40k     63
44  2020-03-16 10:59:08        Êú¨Áßë   8k-16k     69
..                  ...       ...      ...    ...
100 2020-03-16 11:10:42        Êú¨Áßë  15k-25k     64
104 2020-03-16 10:26:12        Â§ß‰∏ì    4k-6k     66
111 2020-03-16 10:52:45        Êú¨Áßë  12k-20k     67
120 2020-03-16 10:09:18        Êú¨Áßë   8k-15k     68
134 2020-03-16 11:19:38        Êú¨Áßë  20k-40k     63

[15 rows x 4 columns]

## 5.3 ÊèêÂèñÊüêÂàóÊúÄÂ§ßÂÄºÊâÄÂú®ÁöÑË°å

In [43]:
df[df['value'] == df['value'].max()]

            createTime education   salary  value
8  2020-03-16 09:25:48        ‰∏çÈôê    6k-8k    100
38 2020-03-16 11:01:58        ‰∏çÈôê  25k-35k    100

## 5.4 ÊèêÂèñvalueÂíåvalue1‰πãÂíåÂ§ß‰∫é150ÁöÑÊúÄÂêé‰∏âË°å

In [44]:
# ÂÜçÈöèÊú∫ÁîüÊàê‰∏ÄÂàó1Âà∞100ÂÜÖÁöÑÈöèÊú∫Êï∞
df['value1'] = [random.randint(1,100) for i in range(135)]

In [45]:
df[(df['value'] + df['value1']) > 150].tail(3)

             createTime education   salary  value  value1
116 2020-03-16 11:30:02        Êú¨Áßë  15k-25k     86      69
117 2020-03-16 11:19:36        Êú¨Áßë  20k-40k     89      82
132 2020-03-16 10:48:32        Êú¨Áßë  20k-40k     88      93

# 6. ÊèêÂèñÂê´Á©∫ÂÄºÁöÑË°åÂàó

‰∏∫‰∫ÜÊºîÁ§∫‰ª£Á†ÅÔºåËøôÈáåËÆæÁΩÆ‰∏Ä‰∫õÂÄº;

In [46]:
df.loc[[2,10,45,87], 'value'] = np.nan
df.loc[[19,30,55,97,114], 'value1'] = np.nan
df.loc[[24,52,67,120], 'education'] = 111
df.loc[[8,26,84], 'salary'] = '--'

## 6.1 ÊèêÂèñvalueÂàóÂê´ÊúâÁ©∫ÂÄºÁöÑË°å

In [47]:
df[df['value'].isnull()]

            createTime education   salary  value  value1
2  2020-03-16 10:46:39        ‰∏çÈôê  20k-35k    nan   45.00
10 2020-03-16 10:34:19        Êú¨Áßë  15k-25k    nan   28.00
45 2020-03-16 11:01:58        ‰∏çÈôê  25k-35k    nan   21.00
87 2020-03-16 10:26:50        Êú¨Áßë  10k-20k    nan   69.00

## 6.2 ÊèêÂèñÊØèÂàóÁº∫Â§±ÂÄºÁöÑÂÖ∑‰ΩìË°åÊï∞

In [48]:
for columname in df.columns: #ÈÅçÂéÜÊØè‰∏ÄÂàó 
    if df[columname].count()  != len(df): #Âà§Êñ≠Áº∫Â§±Ë°åÊù°‰ª∂ÔºöÊâÄÂú®ÂàóÁöÑÂÄºÊï∞Á≠â‰∫éÊÄªÊï∞ÊçÆÁöÑÈïøÂ∫¶
        #Â∞ÜÂ≠òÂú®Áº∫Â§±ÂÄºÁöÑË°åÁöÑÁ¥¢ÂºïËΩ¨Êç¢ÊàêÂàóË°®ÂÇ®Â≠ò
        loc = df[columname][df[columname].isnull().values == True].index.tolist()
        print('ÂàóÂêçÔºö"{}",Á¨¨{}Ë°å‰ΩçÁΩÆÊúâÁº∫Â§±ÂÄº'.format(columname, loc))

ÂàóÂêçÔºö"value",Á¨¨[2, 10, 45, 87]Ë°å‰ΩçÁΩÆÊúâÁº∫Â§±ÂÄº
ÂàóÂêçÔºö"value1",Á¨¨[19, 30, 55, 97, 114]Ë°å‰ΩçÁΩÆÊúâÁº∫Â§±ÂÄº

# 7. ÊèêÂèñÊüêÂàó‰∏çÊòØÊï∞ÂÄºÊàñ(ÂåÖÂê´)Â≠óÁ¨¶‰∏≤ÁöÑË°å

## 7.1 ÊèêÂèñeducationÂàóÊï∞ÂÄºÁ±ªÂûã‰∏çÊòØÂ≠óÁ¨¶‰∏≤ÁöÑË°å

In [49]:
temp = pd.DataFrame()
for i in range(len(df)):
    if type(df['education'][i]) != str: #df['xxx'][i]ÊàñÂÜôÊàêdf.iloc[i,j]
        temp = temp.append(df.loc[i])
temp

             createTime  education   salary  value  value1
24  2020-03-16 11:01:22     111.00  15k-20k  51.00   52.00
52  2020-03-16 11:33:00     111.00  13k-20k  98.00   18.00
67  2020-03-16 10:43:47     111.00  10k-18k   6.00   98.00
120 2020-03-16 10:09:18     111.00   8k-15k  68.00   31.00

## 7.2 ÊèêÂèñsalaryÂàóÂåÖÂê´Â≠óÁ¨¶‰∏≤('--')ÁöÑË°å

In [50]:
# ÊñπÊ≥ï‰∏ÄÔºöisin()
df[df['salary'].isin(['--'])]
# ÊñπÊ≥ï‰∫åÔºöcontains()
df[df["salary"].str.contains("--")]

            createTime education salary  value  value1
8  2020-03-16 09:25:48        ‰∏çÈôê     -- 100.00   25.00
26 2020-03-16 11:04:45        Êú¨Áßë     --  32.00   83.00
84 2020-03-16 10:43:46        Êú¨Áßë     --  40.00   18.00

## 7.3 ÊèêÂèñeducationÂàóÂÄº‰∏∫'Á°ïÂ£´'ÁöÑË°å

In [51]:
# ÊñπÊ≥ï‰∏ÄÔºö
df[df['education'] == 'Á°ïÂ£´']
 
# ÊñπÊ≥ï‰∫åÔºö
results = df['education'].str.contains('Á°ïÂ£´')
results.fillna(value=False, inplace=True)
df[results]

             createTime education   salary  value  value1
6   2020-03-16 10:11:54        Á°ïÂ£´  16k-30k  66.00    1.00
15  2020-03-16 10:52:14        Á°ïÂ£´  10k-15k  96.00   44.00
30  2020-03-16 10:43:58        Á°ïÂ£´  15k-30k  74.00     nan
32  2020-03-16 10:07:25        Á°ïÂ£´  15k-30k  39.00   82.00
91  2020-03-16 10:27:10        Á°ïÂ£´  12k-16k  25.00    2.00
127 2020-03-16 09:44:05        Á°ïÂ£´  10k-15k  87.00   46.00
131 2020-03-16 09:54:47        Á°ïÂ£´  25k-50k  52.00   55.00

# 8. ÂÖ∂‰ªñÊèêÂèñÊìç‰Ωú

## 8.1 ÊèêÂèñÂ≠¶ÂéÜ‰∏∫Êú¨ÁßëÂíåÁ°ïÂ£´ÁöÑÊï∞ÊçÆÔºåÂè™ÊòæÁ§∫Â≠¶ÂéÜÂíåËñ™ËµÑ‰∏§Âàó

In [52]:
# ÊñπÊ≥ï‰∏ÄÔºöisin()
df[df['education'].isin(['Êú¨Áßë', 'Á°ïÂ£´'])] [['education', 'salary']]

# ÊñπÊ≥ï‰∫åÔºölocÊèêÂèñ
df.loc[df['education'].isin(['Êú¨Áßë', 'Á°ïÂ£´']), ['education', 'salary']]

    education   salary
0          Êú¨Áßë  20k-35k
1          Êú¨Áßë  20k-40k
3          Êú¨Áßë  13k-20k
4          Êú¨Áßë  10k-20k
5          Êú¨Áßë  10k-18k
..        ...      ...
130        Êú¨Áßë  10k-18k
131        Á°ïÂ£´  25k-50k
132        Êú¨Áßë  20k-40k
133        Êú¨Áßë  15k-23k
134        Êú¨Áßë  20k-40k

[122 rows x 2 columns]

## 8.2 ÊèêÂèñsalaryÂàó‰ª•'25k'ÂºÄÂ§¥ÁöÑË°å

In [53]:
# ÊñπÊ≥ï‰∏ÄÔºömatchÂáΩÊï∞
df[df['salary'].str.match('25k')]

# ÊñπÊ≥ï‰∫åÔºöstartswithÂáΩÊï∞
df[df['salary'].str.startswith('25k')]

             createTime education   salary  value  value1
14  2020-03-15 12:14:45        Êú¨Áßë  25k-35k  52.00   20.00
16  2020-03-16 10:36:57        Êú¨Áßë  25k-50k  81.00   35.00
33  2020-03-16 11:04:00        Êú¨Áßë  25k-35k  38.00   10.00
38  2020-03-16 11:01:58        ‰∏çÈôê  25k-35k 100.00   11.00
39  2020-03-16 11:35:36        Êú¨Áßë  25k-35k  53.00   84.00
45  2020-03-16 11:01:58        ‰∏çÈôê  25k-35k    nan   21.00
79  2020-03-16 11:30:10        Êú¨Áßë  25k-40k  96.00   52.00
83  2020-03-16 10:43:49        Êú¨Áßë  25k-35k  85.00   89.00
93  2020-03-16 10:44:41        Êú¨Áßë  25k-35k  30.00   47.00
131 2020-03-16 09:54:47        Á°ïÂ£´  25k-50k  52.00   55.00

## 8.3 ÊèêÂèñvalueÂàó‰∏≠‰∏çÂú®value1ÂàóÂá∫Áé∞ÁöÑÊï∞Â≠ó

In [54]:
df['value'][~df['value'].isin(df['value1'])] #~ÂèñÂèç

5      67.00
8     100.00
11     94.00
12     70.00
15     96.00
       ...
119     9.00
127    87.00
128    49.00
133    49.00
134    63.00
Name: value, Length: 36, dtype: float64

## 8.4 ÊèêÂèñvalueÂàóÂíåvalue1ÂàóÂá∫Áé∞È¢ëÁéáÊúÄÈ´òÁöÑÊï∞Â≠ó

In [55]:
# ÂÖàÂ∞Ü‰∏§Âàó‰ΩøÁî®append()ÊåâË°åÂêàÂπ∂ÔºåÂÜçÁî®ËÆ°Êï∞ÂáΩÊï∞Ôºö
temp = df['value'].append(df['value1'])
temp.value_counts(ascending=False)#‰∏çÂä†indexÔºåËøîÂõûÁöÑÊòØ‰∏Ä‰∏™Series
temp.value_counts(ascending=False).index[:5] #ËøîÂõû‰∏Ä‰∏™Êï∞ÁªÑ

Float64Index([52.0, 85.0, 26.0, 69.0, 78.0], dtype='float64')

## 8.5 ÊèêÂèñvalueÂàó‰∏≠ÂèØ‰ª•Êï¥Èô§10ÁöÑÊï∞Â≠ó‰ΩçÁΩÆ

In [56]:
#ÊñπÊ≥ï‰∏ÄÔºö
df[df['value'] % 10 == 0].index
#ÊñπÊ≥ï‰∫åÔºönp.argwhere
np.argwhere(np.array(df['value'] % 10 == 0))

array([[  8],
       [ 12],
       [ 13],
       [ 28],
       [ 35],
       [ 37],
       [ 38],
       [ 50],
       [ 68],
       [ 84],
       [ 93],
       [101],
       [113],
       [125]])

# ‚úç‰Ωú‰∏ö

## STEP1: ÊåâÁÖß‰∏ãÂàóË¶ÅÊ±ÇÂÆåÊàêÂêÑÈ¢òÁõÆ

In [66]:
# Áî±‰∫éÈöèÊú∫Êï∞ÁöÑÂ≠òÂú®‰ºöÂΩ±ÂìçÊúÄÁªàÊèê‰∫§ÁöÑÊñá‰ª∂ÔºåÊâÄ‰ª•ËøôÈáåÈáçÊñ∞ËØªÂèñÊï∞ÊçÆ
# ËØªÂèñpandas120Êï∞ÊçÆÊñá‰ª∂
df = pd.read_excel('/home/mw/input/pandas1206855/pandas120.xlsx')
df.head()

           createTime education   salary
0 2020-03-16 11:30:18        Êú¨Áßë  20k-35k
1 2020-03-16 10:58:48        Êú¨Áßë  20k-40k
2 2020-03-16 10:46:39        ‰∏çÈôê  20k-35k
3 2020-03-16 10:45:44        Êú¨Áßë  13k-20k
4 2020-03-16 10:20:41        Êú¨Áßë  10k-20k

### 1. ÊèêÂèñÂ≠¶ÂéÜ‰∏∫Êú¨ÁßëÔºåÂ∑•ËµÑÂú®25k-35kÁöÑÊï∞ÊçÆ

In [ ]:
df1 =

### 2. ÊèêÂèñsalaryÂàó‰∏≠‰ª•'40k'ÁªìÂ∞æÁöÑÊï∞ÊçÆ

In [ ]:
df2 =

### 3. ÊèêÂèñËñ™ËµÑÂå∫Èó¥‰∏≠ÊúÄ‰ΩéËñ™ËµÑ‰∏éÊúÄÈ´òËñ™ËµÑÁöÑÂπ≥ÂùáÂÄºÂ§ß‰∫é30kÁöÑË°åÔºåÂè™ÈúÄÊèêÂèñÂéüÂßãÂ≠óÊÆµ('createTime', 'education', 'salary')Âç≥ÂèØ

In [ ]:
df3 =

### 4. Â∞Ü‰ª•‰∏ä‰∏âÈ¢òÊèêÂèñÂá∫Êù•ÁöÑË°åÊåâÁÖßÁõ∏ÂêåÂàóËøõË°åÂêàÂπ∂ÔºåÊ±áÊÄªÂà∞‰∏Ä‰∏™Êï∞ÊçÆÊ°Ü‰∏≠Ôºõ

In [ ]:
answer_2 = pd.concat([df1, df2, df3], axis=0)
answer_2

### 5. Â∞Ü‰∏âÂàóÊï∞ÊçÆÂêàÂπ∂Êàê‰∏ÄÂàóÔºåÂπ∂ËÆæÁΩÆÂàóÂêç‰∏∫answerÔºåÊúÄÂêé‰øùÁïôid(Êï∞ÊçÆË°åÊï∞„ÄÅanswer)

In [ ]:
data = pd.concat([answer_2.iloc[:,0],answer_2.iloc[:,1],answer_2.iloc[:,2]])
df = pd.DataFrame(data, columns=['answer'])
df['id'] = range(len(df))
df = df[['id', 'answer']]
df

##  STEP2: Â∞ÜÁªìÊûú‰øùÂ≠ò‰∏∫ csv Êñá‰ª∂

In [72]:
# ‰øùÂ≠òÊñá‰ª∂Âà∞Êú¨Âú∞
df.to_csv('answer_2.csv', index=False, encoding='utf-8-sig')#‰ª£Á†ÅËá™Âä®Ë°•ÂÖ®ÁöÑÂø´Êç∑ÈîÆÊòØ tabÔºõËøêË°åÂÆåÊàêÂêéÔºåÂ∑¶‰æßÊñá‰ª∂Ê†ëÂà∑Êñ∞‰∏ãÔºåÂèØ‰ª•ÊâæÂà∞Ëøô‰ªΩÊñá‰ª∂

## STEP3: Êèê‰∫§ csv Êñá‰ª∂ÔºåËé∑ÂèñÂàÜÊï∞ÁªìÊûú
Áé∞Âú®‰Ω†ÁöÑÁ≠îÊ°àÊñá‰ª∂Â∑≤ÁªèÂáÜÂ§áÂÆåÊØï‰∫ÜÔºåÊÄé‰πàÊèê‰∫§ÂæóÂà∞ËØÑÂàÜÂë¢Ôºü

1„ÄÅÊã∑Ë¥ùÊèê‰∫§ token

ÂéªÊ¥ªÂä®[Êèê‰∫§È°µÈù¢](https://www.heywhale.com/home/competition/6154198bc270e400182b11f9/submit)ÔºåÊâæÂà∞ÂØπÂ∫îÂÖ≥Âç°ÔºåÁúãÂà∞‰∫Ü‰Ω†ÁöÑ token ÂòõÔºü

Êã∑Ë¥ùÂà∞‰∏ãÊñπ cell ÈáåÔºàÊõøÊç¢Êéâ XXXXXXXÔºâÔºåÂè≥‰∏äËßí‰øùËØÅKernelÁ±ªÂûã‰∏∫Python3ÂìàÔºõ

ËÆ∞ÂæóÔºöÊØè‰∏™ÂÖ≥Âç°ÁöÑ token ‰∏ç‰∏ÄÊ†∑„ÄÇ

2„ÄÅÊâæÂà∞‰Ω†ÁöÑÁ≠îÊ°àÊñá‰ª∂Ë∑ØÂæÑ

Âè≥‰æßÊñá‰ª∂Ê†ëÔºåÂà∑Êñ∞ÔºåÂú® project ‰∏ãÊâæÂà∞Á≠îÊ°àÊñá‰ª∂ÔºåÂè≥ÈîÆÁÇπÂáªÂèØÂ§çÂà∂Ë∑ØÂæÑ„ÄÇ

Ë∑ØÂæÑ‰∏∫ /home/mw/project/answer_2.csvÔºå‰Ω†ÂèØ‰ª•ÂÜç‰ªîÁªÜÊü•Áúã‰∏Ä‰∏ãÂì¶

‚ö†Ô∏èÁ≠îÊ°à‰∏∫ 90 rows √ó 2 columns


![Image Name](https://cdn.kesci.com/upload/image/r4ic8nw6zd.png?imageView2/0/w/960/h/960)

In [73]:
# ËøêË°åËøô‰∏™ cell ÂâçËÆ∞Âæó‰∏ÄÂÆöË¶Å‰øùËØÅÂè≥‰∏äËßí kernel‰∏∫ Python 3 ÁöÑÂô¢
# ‰∏ãËΩΩÊèê‰∫§Â∑•ÂÖ∑
!wget -nv -O heywhale_submit https://cdn.kesci.com/submit_tool/v4/heywhale_submit&&chmod +x heywhale_submit

# ËøêË°åÊèê‰∫§Â∑•ÂÖ∑
# Êää‰∏ãÊñπ XXXXXXX ÊõøÊç¢‰∏∫‰Ω†ÁöÑ TokenÔºåsubmit_file ‰∏∫Ë¶ÅÊèê‰∫§ÁöÑÊñá‰ª∂ÂêçË∑ØÂæÑ
# Êñá‰ª∂ÂêçË∑ØÂæÑÂéªÂ∑¶‰æßÊñá‰ª∂Ê†ë‰∏ãÔºåÂà∑Êñ∞ÔºåÊâæÂà∞ÂØπÂ∫îÁöÑ csv Êñá‰ª∂ÔºåÂè≥ÈîÆÂ§çÂà∂Ë∑ØÂæÑ
!./heywhale_submit -token XXXXXXX -file /home/mw/project/answer_2.csv

wget: /opt/conda/lib/libcrypto.so.1.0.0: no version information available (required by wget)
wget: /opt/conda/lib/libssl.so.1.0.0: no version information available (required by wget)
wget: /opt/conda/lib/libssl.so.1.0.0: no version information available (required by wget)
2021-11-18 09:55:08 URL:https://cdn.kesci.com/submit_tool/v4/heywhale_submit [7357446/7357446] -> "heywhale_submit" [1]
Heywhale Submit Tool 4.0.0

> Â∑≤È™åËØÅToken
> Êèê‰∫§Êñá‰ª∂ /home/mw/project/answer_2.csv (1.29 KiB), Target Qiniu
> Â∑≤‰∏ä‰º† 100 %
> Êñá‰ª∂Â∑≤‰∏ä‰º†
> ÊúçÂä°Âô®ÂìçÂ∫î: 200 Êèê‰∫§ÊàêÂäüÔºåËØ∑Á≠âÂæÖËØÑÂÆ°ÂÆåÊàê
> Êèê‰∫§ÂÆåÊàê

ËøêË°åÊàêÂäü„ÄÅÊòæÁ§∫Êèê‰∫§ÂÆåÊàêÂêéÔºåÂç≥ÂèØÂéª[Êèê‰∫§È°µÈù¢](https://www.heywhale.com/home/competition/6154198bc270e400182b11f9/submit) -- ÁúãÊàêÁª©„ÄÇÊª°ÂàÜÂç≥ÂèØËøõÂÖ•‰∏ã‰∏ÄÂÖ≥„ÄÇ


![Image Name](https://cdn.kesci.com/upload/image/r2rie8zano.png?imageView2/0/w/960/h/960)


Ê≤°ÊúâÊàêÂäü‰πü‰∏çÊÄïÔºåÁúã‰∏ãÊä•Èîô‰ø°ÊÅØÔºåÂØπÁÖßÊéíÊü•‰∏ãÔºåÊîπÂÆåÈáçÊñ∞Êèê‰∫§ÂíØ„ÄÇ

Á•ùÂ•ΩËøê üê≥